* {
    background-image: url(./images/scott-webb-UjupleczBOY-unsplash.jpg);
    background-color: grey;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font: 18px;
}
#nav{
    background-color: black;
    display: flex;
    justify-content: right;
}
body {
    font-size: 14px;
}
.dogs {
    display: flex;
    text-align: center;
    margin: auto;
}
.dogs figure{
    margin: 5px 10px;
    border: 5px;
    border-color: black;
    color: black;
}
.about-me{
    width: 50%;
}
#contact-me{
    width: fit-content;
}