* {
    background-color: grey;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font: 18px;
}
#header{
    background-color: gray;
    justify-content: auto;
    background-size: cover;
}
#header nav{
    float: right;
    padding: 10px;
    margin: 10px;
}
body {
    font-size: 14px;
}
.pictures {
    display: flex;
    text-align: center;
    margin: auto;
}
.pictures figure{
    margin: 5px 5px;
    border: 5px;
    border-color: black;
    color: black;
}
.about-me{
    width: fit-content;
}
#contact-me{
    width: fit-content;
}
.links{
    width: fit-content;
    display: inline-block;
}
.background{
    background-image: url(./images/scott-webb-UjupleczBOY-unsplash.jpg);
    width: 100%;
    height: 600px;
    align-self: center;
}