* {
    box-sizing: border-box;
    background-size: cover;
    font-family: Georgia, Times, 'Times New Roman', serif;
    font-size: 1.1rem;
}
html, body{
    margin: 0;
    padding: 0;
}

#header{
    background-image: url(./images/scott-webb-UjupleczBOY-unsplash.jpg);
    background-size: cover;
    display: flex;
}
#header nav{
    display: inline-block;
    text-align: right;
    float: right;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
}
.main-header{
    font-size: 3rem;
    text-align: center;
}
body {
    font-size: 14px;
    background-color: rgb(138, 32, 32);
}
.pictures {
    display: flex;
    justify-content: center; 
    margin: auto;
}
.pictures figure{
    margin: 5px 5px;
    border: 5px;
    border-color: black;
    color: black;
}
.about-me{
    width: fit-content;
    border: 1rem;
    padding: 2rem;
    text-align: center;
}
#contact-me{
    width: fit-content;
}
.links{
    width: fit-content;
    display: inline-block;
}
footer{
    background-image: url(./images/scott-webb-UjupleczBOY-unsplash.jpg);
    background-size: cover;
    width: 100%;
    height: 5rem;
    text-align: center;
    line-height: 5rem;
    font-size: 16px;
}